header {
  background-color: lightcoral;
  color: #333;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  align-self: flex-start;
  margin-bottom: 20px;
}
header h1 {
  margin: 0;
  margin-bottom: 20px;
}

footer {
  background-color: lightcoral;
  color: #333;
  text-align: center;
  padding: 20px;
}
footer a {
  color: #333;
  margin: 0 10px;
}
footer a:hover {
  color: #afe4de;
}

.navBar nav {
  margin-top: 20px;
  width: 100%;
}
.navBar nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: 100%;
}
.navBar nav ul li {
  width: 100%;
  margin: 5px 0;
}
.navBar nav ul li a {
  display: block;
  padding: 10px 0px;
  text-decoration: none;
  color: #f8f9fa;
  border: 2px solid #afe4de;
  border-radius: 5px;
  background-color: lightcoral;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
}
.navBar nav ul li a:hover {
  background-color: turquoise;
  color: #f8f9fa;
}

@media (max-width: 320px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-size: 12px;
  }
  header img {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  header h1 {
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
  }
  header nav {
    width: 100%;
  }
  header nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
  }
  header nav ul li {
    width: 100%;
    margin: 5px 0;
  }
  header nav ul li a {
    padding: 5px 10px;
    font-size: 0.8rem;
    display: block;
    width: 100%;
    text-align: center;
    color: #333;
    background-color: lightcoral;
    border-radius: 5px;
  }
  main.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  main.contenido .actividad {
    width: 100%;
    margin: 10px 0;
    text-align: center;
    background-color: transparent;
  }
  main.contenido .actividad img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  main.contenido .actividad h6 {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  main.contenido .actividad p {
    font-size: 0.875rem;
    line-height: 1.2;
    color: #333;
  }
  .retiros-cards .card .card-title {
    font-size: 1rem;
  }
  .retiros-cards .card .card-text {
    font-size: 0.875rem;
  }
  .retiros-cards .card .btn-primary {
    padding: 5px 10px;
    font-size: 0.875rem;
  }
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  text-align: center;
}
footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .row {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
footer .row .col-md-4, footer .row .col-md-12 {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
footer a {
  display: block;
  margin: 5px 0;
}
footer i {
  margin: 0 5px;
}

@media (max-width: 375px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
  }
  header img {
    width: 30px;
    height: 30px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  header h1 {
    font-size: 16px;
    margin-bottom: 15px;
    text-align: center;
  }
  header nav {
    width: 100%;
  }
  header nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  header nav ul li {
    width: 100%;
    margin: 7px 0;
  }
  header nav ul li a {
    padding: 7px 12px;
    font-size: 0.9rem;
    display: block;
    width: 100%;
    text-align: center;
    color: #333;
    background-color: lightcoral;
    border-radius: 5px;
  }
  main.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }
  main.contenido .actividad {
    width: 100%;
    margin: 15px 0;
    text-align: center;
  }
  main.contenido .actividad img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
  main.contenido .actividad h6 {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }
  main.contenido .actividad p {
    font-size: 1rem;
    line-height: 1.3;
    color: #333;
  }
  .retiros-cards .card .card-title {
    font-size: 1.125rem;
  }
  .retiros-cards .card .card-text {
    font-size: 0.9rem;
  }
  .retiros-cards .card .btn-primary {
    padding: 6px 12px;
    font-size: 0.9rem;
  }
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .row {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}
footer .row .col-md-4, footer .row .col-md-12 {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}
footer a {
  display: block;
  margin: 7px 0;
}
footer i {
  margin: 0 7px;
}

@media (max-width: 425px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
  }
  header img {
    width: 35px;
    height: 35px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  header h1 {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
  }
  header nav {
    width: 100%;
  }
  header nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  header nav ul li {
    width: 100%;
    margin: 7px 0;
  }
  header nav ul li a {
    padding: 7px 12px;
    font-size: 1rem;
    display: block;
    width: 100%;
    text-align: center;
    color: #333;
    background-color: lightcoral;
    border-radius: 5px;
  }
  main.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }
  main.contenido .actividad {
    width: 100%;
    margin: 15px 0;
    text-align: center;
  }
  main.contenido .actividad img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
  main.contenido .actividad h6 {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }
  main.contenido .actividad p {
    font-size: 1.1rem;
    line-height: 1.3;
    color: #333;
  }
  .retiros-cards .card .card-title {
    font-size: 1.25rem;
  }
  .retiros-cards .card .card-text {
    font-size: 1rem;
  }
  .retiros-cards .card .btn-primary {
    padding: 7px 14px;
    font-size: 1rem;
  }
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  text-align: center;
}
footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .row {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}
footer .row .col-md-4, footer .row .col-md-12 {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}
footer a {
  display: block;
  margin: 7px 0;
}
footer i {
  margin: 0 7px;
}

@media (min-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-size: 16px;
  }
  header img {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  header h1 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  header nav {
    width: 100%;
  }
  header nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  header nav ul li {
    width: 100%;
    margin: 10px 0;
  }
  header nav ul li a {
    padding: 10px 15px;
    font-size: 1rem;
    display: block;
    width: 100%;
    text-align: center;
    color: #333;
    background-color: lightcoral;
    border-radius: 5px;
  }
  main .contenido .actividad {
    width: 100%;
    margin: 20px 0;
    text-align: center;
  }
  main .contenido .actividad img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  main .contenido .actividad h6 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  main .contenido .actividad p {
    font-size: 1.1rem;
    line-height: 1.3;
    color: #333;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .retiros-cards {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  .retiros-cards .card {
    flex: 1;
    margin: 0 10px;
    border: 1px solid #afe4de;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .retiros-cards .card:first-child {
    margin-left: 0;
  }
  .retiros-cards .card:last-child {
    margin-right: 0;
  }
  .retiros-cards .card .card-img-top {
    border-radius: 5px 5px 0 0;
  }
  .retiros-cards .card .card-body {
    text-align: center;
    background-color: #f8f9fa;
    color: #333;
  }
  .retiros-cards .card .card-body .card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
    font-family: "Georgia", serif;
  }
  .retiros-cards .card .card-body .card-text {
    font-size: 1rem;
    margin-bottom: 15px;
    font-family: Arial, sans-serif;
  }
  .retiros-cards .card .card-body .btn-primary {
    background-color: lightcoral;
    border-color: lightcoral;
  }
  .retiros-cards .card .card-body .btn-primary:hover {
    background-color: lightcoral;
    border-color: lightcoral;
  }
}
@media (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
  }
  footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .row {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  footer .row .col-md-4, footer .row .col-md-12 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  footer a {
    display: block;
    margin: 10px 0;
  }
  footer i {
    margin: 0 10px;
  }
  .contenido_actividades h2 {
    text-align: center;
  }
  .contenido_actividades h2 {
    text-align: center;
  }
}
@media (min-width: 1024px) {
  .contacto_body section form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 600px;
  }
  .contacto_body section form label {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .contacto_body section form input, .contacto_body section form textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #afe4de;
    border-radius: 5px;
  }
  .contacto_body section form button {
    padding: 10px 20px;
    background-color: lightcoral;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .contacto_body section form button:hover {
    background-color: turquoise;
  }
}
@media (min-width: 1024px) {
  body {
    font-size: 18.4px;
    line-height: 1.725;
  }
  header {
    padding: 23px;
  }
  header h1 {
    font-size: 2.3rem;
  }
  header nav ul li a {
    padding: 11.5px 23px;
    font-size: 0.92rem;
  }
  main .contenido .actividad {
    margin: 23px 0;
  }
  main .contenido .actividad h6 {
    font-size: 1.725rem;
  }
  main .contenido .actividad p {
    font-size: 0.92rem;
    line-height: 1.38;
  }
  .retiros-cards .card .card-title {
    font-size: 1.5rem;
  }
  .retiros-cards .card .card-text {
    font-size: 1.125rem;
  }
  .retiros-cards .card .btn-primary {
    padding: 10px 20px;
    font-size: 1.125rem;
  }
}
footer {
  padding: 23px;
}
footer .row {
  margin-bottom: 23px;
}
footer .row .col-md-4, footer .row .col-md-12 {
  margin-bottom: 23px;
}
footer a {
  margin: 11.5px 0;
}
footer i {
  margin: 0 11.5px;
}

.contenido_actividades .actividad img,
.planillas_horarios_aranceles img {
  width: auto;
  height: auto;
}

@media (min-width: 1440px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 23px;
    font-size: 18px;
  }
  header img {
    width: 350px;
    height: 350px;
    margin-bottom: 23px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  header h1 {
    font-size: 22px;
    margin-bottom: 23px;
    text-align: center;
  }
  header nav {
    width: 100%;
  }
  header nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  header nav ul li {
    width: 100%;
    margin: 11.5px 0;
  }
  header nav ul li a {
    padding: 11.5px 23px;
    font-size: 1.15rem;
    display: block;
    width: 100%;
    text-align: center;
    color: #333;
    background-color: lightcoral;
    border-radius: 5px;
  }
  main .contenido .actividad {
    width: 100%;
    margin: 23px 0;
    text-align: center;
  }
  main .contenido .actividad img {
    max-width: 100%;
    height: auto;
    margin-bottom: 23px;
  }
  main .contenido .actividad h6 {
    font-size: 1.725rem;
    margin-bottom: 23px;
  }
  main .contenido .actividad p {
    font-size: 1.2rem;
    line-height: 1.3;
    color: #333;
  }
  .retiros-cards {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  .retiros-cards .card {
    flex: 1;
    margin: 0 10px;
    border: 1px solid #afe4de;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .retiros-cards .card:first-child {
    margin-left: 0;
  }
  .retiros-cards .card:last-child {
    margin-right: 0;
  }
  .retiros-cards .card .card-img-top {
    border-radius: 5px 5px 0 0;
  }
  .retiros-cards .card .card-body {
    text-align: center;
    background-color: #f8f9fa;
    color: #333;
  }
  .retiros-cards .card .card-body .card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
    font-family: "Georgia", serif;
  }
  .retiros-cards .card .card-body .card-text {
    font-size: 1rem;
    margin-bottom: 15px;
    font-family: Arial, sans-serif;
  }
  .retiros-cards .card .card-body .btn-primary {
    background-color: lightcoral;
    border-color: lightcoral;
  }
  .retiros-cards .card .card-body .btn-primary:hover {
    background-color: lightcoral;
    border-color: lightcoral;
  }
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 23px;
  text-align: center;
}
footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .row {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 23px;
}
footer .row .col-md-4, footer .row .col-md-12 {
  width: 100%;
  text-align: center;
  margin-bottom: 23px;
}
footer a {
  display: block;
  margin: 11.5px 0;
}
footer i {
  margin: 0 11.5px;
}

.contenido_actividades .actividad img,
.planillas_horarios_aranceles img {
  width: auto;
  height: auto;
}

#body_contacto {
  background-color: #f8f9fa;
  color: #333;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

#header_principal {
  background-color: lightcoral;
  color: #333;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#header_principal img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  align-self: flex-start;
  margin-bottom: 20px;
}
#header_principal h1 {
  margin: 0;
  margin-bottom: 20px;
}

#section_nav nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
#section_nav nav ul li {
  margin: 0 10px;
}
#section_nav nav ul li a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #f8f9fa;
  border: 2px solid #afe4de;
  border-radius: 5px;
  background-color: none;
  transition: background-color 0.3s, color 0.3s;
}
#section_nav nav ul li a:hover {
  background-color: turquoise;
  color: #f8f9fa;
}

#form_contacto {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
#form_contacto label {
  font-weight: 700;
}
#form_contacto input, #form_contacto textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
}
#form_contacto button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: lightcoral;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
#form_contacto button:hover {
  background-color: #afe4de;
  color: #f8f9fa;
}

#footer {
  background-color: lightcoral;
  color: #333;
  text-align: center;
  padding: 20px;
}
#footer a {
  color: #333;
  margin: 0 10px;
}
#footer a:hover {
  color: #afe4de;
}

#actividades {
  background-color: #f8f9fa;
  color: #333;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
#actividades header {
  background-color: lightcoral;
  color: #333;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#actividades header img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  align-self: flex-start;
  margin-bottom: 20px;
}
#actividades header h1 {
  margin: 0;
  margin-bottom: 20px;
}
#actividades nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
#actividades nav ul li {
  margin: 0 10px;
}
#actividades nav ul li a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #f8f9fa;
  border: 2px solid #afe4de;
  border-radius: 5px;
  background-color: none;
  transition: background-color 0.3s, color 0.3s;
}
#actividades nav ul li a:hover {
  background-color: turquoise;
  color: #f8f9fa;
}
#actividades section {
  padding: 20px;
}
#actividades section div ol {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#actividades section div ol li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f8f9fa;
}
#actividades section div ol li a {
  text-decoration: none;
  color: #afe4de;
  margin-bottom: 10px;
}
#actividades section div ol li a:hover {
  color: turquoise;
}
#actividades section div ol li img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
}
#actividades footer {
  background-color: lightcoral;
  color: #333;
  text-align: center;
  padding: 20px;
}
#actividades footer a {
  color: #333;
  margin: 0 10px;
}
#actividades footer a:hover {
  color: #afe4de;
}

body {
  background-color: #f8f9fa;
  color: #333;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

header {
  background-color: lightcoral;
  color: #333;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  align-self: flex-start;
  margin-bottom: 20px;
}
header h1 {
  margin: 0;
  margin-bottom: 20px;
}
header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
header nav ul li {
  margin: 0 10px;
}
header nav ul li a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #f8f9fa;
  border: 2px solid #afe4de;
  border-radius: 5px;
  background-color: none;
  transition: background-color 0.3s, color 0.3s;
}
header nav ul li a:hover {
  background-color: turquoise;
  color: #f8f9fa;
}

section {
  padding: 20px;
}
section div ol {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
section div ol li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f8f9fa;
}
section div ol li a {
  text-decoration: none;
  color: #afe4de;
  margin-bottom: 10px;
}
section div ol li a:hover {
  color: turquoise;
}
section div ol li img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
}

footer {
  background-color: lightcoral;
  color: #333;
  text-align: center;
  padding: 20px;
}
footer a {
  color: #333;
  margin: 0 10px;
}
footer a:hover {
  color: #afe4de;
}

section {
  color: #f8f9fa;
  background-color: lightcoral;
}
section a {
  background-color: lightcoral;
}
section div h2 ol {
  background-color: lightcoral;
}
section div h2 ol li {
  background-color: lightcoral;
}
section div h2 ol li a {
  background-color: lightcoral;
}

body {
  background-color: #f8f9fa;
  color: #333;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: lightcoral;
  color: #333;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header img {
  width: auto;
  height: auto;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
header h1 {
  font-size: 1rem;
  margin-bottom: 10px;
  text-align: center;
}
header nav {
  width: 100%;
}
header nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: -20px;
  list-style: none;
  width: 100%;
}
header nav ul li {
  width: 100%;
  padding: 10px 0px;
}
header nav ul li a {
  font-size: 0.8rem;
  display: block;
  width: 100%;
  text-align: center;
  color: #333;
  background-color: #afe4de;
  border-radius: 5px;
  text-decoration: none;
}

main .contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .contenido .actividad {
  width: 100%;
  margin: 10px 0;
  text-align: center;
  background-color: transparent;
}
main .contenido .actividad img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
main .contenido .actividad h6 {
  font-size: 1rem;
  margin-bottom: 10px;
}
main .contenido .actividad p {
  font-size: 0.8rem;
  line-height: 1.2;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: lightcoral;
  text-align: center;
}
footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .row {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
footer .row .col-md-4,
footer .row .col-md-12 {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
footer a {
  display: block;
  margin: 5px 0;
}
footer i {
  margin: 0 5px;
}

#ashtanga_img,
#vinyasa_img,
#yogasuave_img,
#yogasilla_img {
  width: 200px;
  height: auto;
  border: none;
  border-radius: 5px;
  padding-right: 20px;
}

#principiantes_img,
#avanzados_img {
  width: 200px;
  height: auto;
  border: none;
  border-radius: 5px;
  padding-right: 20px;
}

.section-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section-flex .flex-item {
  flex: 1 1 200px;
  margin: 10px;
  text-align: center;
}
.section-flex .flex-item img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.center-content {
  padding: 20px;
  background-color: lightcoral;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center-content h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}
.center-content .yoga-style-left {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  max-width: 800px;
}
.center-content .yoga-style-left a {
  flex: 0 0 auto;
  margin-right: 20px;
}
.center-content .yoga-style-left a img {
  max-width: 200px;
  height: auto;
  border-radius: 5px;
}
.center-content .yoga-style-left .description {
  flex: 1;
}
.center-content .yoga-style-left .description h3 {
  font-size: 1.75rem;
  margin-bottom: 10px;
}
.center-content .yoga-style-left .description p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.about-us,
.about-space {
  padding: 20px;
  background-color: lightcoral;
  color: #333;
  text-align: center;
}
.about-us p,
.about-space p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.team-list {
  list-style: none;
  padding: 0;
}

.team-member {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: lightcoral;
  padding: 20px;
  border-radius: 10px;
}
.team-member img {
  width: 150px;
  height: auto;
  border-radius: 50%;
  margin-right: 20px;
}
.team-member p {
  flex: 1;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.space-details {
  display: flex;
  align-items: center;
}
.space-details img {
  width: 300px;
  height: auto;
  margin-right: 20px;
}
.space-details p {
  flex: 1;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.actividades_body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #333;
  background-color: #f8f9fa;
}

#header_principal {
  background-color: lightcoral;
  color: #333;
  padding: 20px;
  text-align: center;
}
#header_principal img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}
#header_principal nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
#header_principal nav ul li {
  margin: 0 10px;
}
#header_principal nav ul li a {
  text-decoration: none;
  color: #f8f9fa;
  padding: 10px 20px;
  border: 2px solid #afe4de;
  border-radius: 5px;
  background-color: lightcoral;
  transition: background-color 0.3s, color 0.3s;
}
#header_principal nav ul li a:hover {
  background-color: lightcoral;
  border-color: lightcoral;
}

.contenido_actividades {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contenido_actividades .actividad {
  background-color: lightcoral;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  width: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.contenido_actividades .actividad img {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}
.contenido_actividades .actividad h6 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.contenido_actividades .actividad p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

#footer {
  background-color: lightcoral;
  color: #333;
  text-align: center;
  padding: 20px;
}
#footer a {
  color: #333;
  margin: 0 10px;
  text-decoration: none;
}
#footer a:hover {
  background-color: lightcoral;
  border-color: lightcoral;
}
#footer a i {
  margin: 0 5px;
}
#footer body.horarios-aranceles-body {
  background-color: lightcoral;
  color: #333;
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
#footer i {
  margin: 0 5px;
}
#footer #tabla_horarios,
#footer #aranceles {
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  background-color: lightcoral;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
#footer #tabla_horarios h2,
#footer #aranceles h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #f8f9fa;
}
#footer #tabla_horarios table,
#footer #aranceles table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
#footer #tabla_horarios table th,
#footer #tabla_horarios table td,
#footer #aranceles table th,
#footer #aranceles table td {
  padding: 10px;
  border: 1px solid lightcoral;
  font-size: 16px;
  color: #333;
}
#footer #tabla_horarios table th,
#footer #aranceles table th {
  background-color: lightcoral;
  color: #f8f9fa;
}
#footer #tabla_horarios table td,
#footer #aranceles table td {
  background-color: #afe4de;
}
#footer #tabla_horarios p,
#footer #aranceles p {
  font-size: 16px;
  color: #333;
}

.retiros {
  margin-bottom: 0;
  padding-bottom: 0;
}

.retiros-cards {
  margin: 0;
  padding: 0;
  background-color: lightcoral;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.retiros-cards .card {
  flex: 1;
  margin: 0 10px;
  border: 1px solid #afe4de;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.retiros-cards .card:first-child {
  margin-left: 0;
}
.retiros-cards .card:last-child {
  margin-right: 0;
}
.retiros-cards .card .card-img-top {
  border-radius: 5px 5px 0 0;
}
.retiros-cards .card .card-body {
  text-align: center;
  background-color: #f8f9fa;
  color: #333;
}
.retiros-cards .card .card-body .card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
  font-family: "Georgia", serif;
}
.retiros-cards .card .card-body .card-text {
  font-size: 1rem;
  margin-bottom: 15px;
  font-family: Arial, sans-serif;
}
.retiros-cards .card .card-body .btn-primary {
  background-color: lightcoral;
  border-color: lightcoral;
}
.retiros-cards .card .card-body .btn-primary:hover {
  background-color: lightcoral;
  border-color: lightcoral;
}

.mb-5, .my-5 {
  margin-bottom: 0 !important;
}

.mt-5, .my-5 {
  margin-top: 0 !important;
}

footer {
  margin-top: 0;
  padding-top: 0;
}

/*# sourceMappingURL=style.css.map */
