// Colores
$background-color: #f8f9fa;
$text-color: #333;
$primary-color: lightcoral;
$secondary-color: #afe4de;
$tertiary-color: turquoise;
$fourtiary-color: lightblue;
$border-color: #ddd; 

// Tipografía
$font-family-base: 'Helvetica Neue', Arial, sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Tamaños de fuente para títulos
$font-size-h1: 2.5rem;
$font-size-h2: 2rem;
$font-size-h3: 1.75rem;
$font-size-h4: 1.5rem;
$font-size-h5: 1.25rem;
$font-size-h6: 1rem;

// Mapa de fuentes para títulos
$fuenteTitulos: (
    h1: $font-size-h1,
    h2: $font-size-h2,
    h3: $font-size-h3,
    h4: $font-size-h4,
    h5: $font-size-h5,
    h6: $font-size-h6,
);

// Colores de texto
$color-textos: (
    primary: rgb(64, 224, 208),
    secondary: #777,
    tertiary: #aaa,
    success: #28a745,
    danger: #dc3545,
);