@use 'sass:map';
@use 'variables';
@use 'mixins';
@use 'funciones';

// Layouts
@use './layout/home';
@use './layout/contacto';
@use './layout/layout';

// Componentes
@use './componentes/componentes';
@use './componentes/navBar';
@use './componentes/footer.scss';
@use './componentes/header.scss';

// Páginas
@use './pages/index.scss';
@use './pages/actividades.scss';
@use './pages/quienes_somos.scss';

// Media Queries
@use './mq/_mq';




body {
    background-color: variables.$background-color;
    color: variables.$text-color;
    font-family: variables.$font-family-base;
    font-size: variables.$font-size-base;
    line-height: variables.$line-height-base;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: variables.$primary-color;
    color: variables.$text-color;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: auto;
        height: auto;
        margin-bottom: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        font-size: 1rem;
        margin-bottom: 10px;
        text-align: center;
    }

    nav {
        width: 100%;
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
            margin: -20px;
            list-style: none;
            width: 100%;

            li {
                width: 100%;
               
                padding: 10px 0px;

                a {
                    
                    font-size: 0.8rem;
                    display: block;
                    width: 100%;
                    text-align: center;
                    color: variables.$text-color;
                    background-color: variables.$secondary-color;
                    border-radius: 5px;
                    text-decoration: none;
                }
            }
        }
    }
}

main {
    

    .contenido {
        display: flex;
        flex-direction: column;
        align-items: center;

        .actividad {
            width: 100%;
            margin: 10px 0;
            text-align: center;
            background-color: transparent; // Eliminar el marco blanco

            img {
                max-width: 100%;
                height: auto;
                margin-bottom: 10px;
            }

            h6 {
                font-size: 1rem;
                margin-bottom: 10px;
            }

            p {
                font-size: 0.8rem;
                line-height: 1.2;
            }
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: variables.$primary-color;
    text-align: center;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .row {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;

        .col-md-4, .col-md-12 {
            width: 100%;
            text-align: center;
            margin-bottom: 10px;
        }
    }

    a {
        display: block;
        margin: 5px 0;
    }

    i {
        margin: 0 5px;
    }
}




// Estilos específicos para cada imagen
#ashtanga_img,
#vinyasa_img,
#yogasuave_img,
#yogasilla_img {
    width: 200px; // Ajusta el tamaño según sea necesario
    height: auto;
    border: none; // Eliminar el borde
    border-radius: 5px;
    padding-right: 20px; // Ajusta el padding según sea necesario
}

#principiantes_img,
#avanzados_img {
    width: 200px; // Ajusta el tamaño según sea necesario
    height: auto;
    border: none; // Eliminar el borde
    border-radius: 5px;
    padding-right: 20px; // Ajusta el padding según sea necesario
}

// Flexbox para las imágenes index
.section-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*padding: 20px;*/

    .flex-item {
        flex: 1 1 200px;
        margin: 10px;
        text-align: center;

        img {
            max-width: 100%;
            height: auto;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
    }
}

.center-content {
    padding: 20px;
    background-color: variables.$primary-color;
    color: variables.$text-color;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        text-align: center;
        font-size: map.get(variables.$fuenteTitulos, h2);
        margin-bottom: 20px;
    }

    .yoga-style-left {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        width: 100%;
        max-width: 800px;

        a {
            flex: 0 0 auto;
            margin-right: 20px;

            img {
                max-width: 200px;
                height: auto;
                border-radius: 5px;
            }
        }

        .description {
            flex: 1;
            h3 {
                font-size: map.get(variables.$fuenteTitulos, h3);
                margin-bottom: 10px;
            }

            p {
                font-size: variables.$font-size-base;
                line-height: variables.$line-height-base;
                margin-bottom: 10px;
            }
        }
    }
}

     /*{
        width: 200px; // Ajusta el tamaño según sea necesario
        height: auto;
        border: none; // Eliminar el borde
        border-radius: 5px;
        padding-right: 20px;
    } */

    // Estilos para la sección "¿Quiénes somos?" y "Sobre este espacio"
    .about-us, .about-space {
        padding: 20px;
        background-color: variables.$primary-color;
        color: variables.$text-color;
        text-align: center;
    
        p {
            font-size: variables.$font-size-base;
            line-height: variables.$line-height-base;
            margin-bottom: 10px;
        }
    }
    
    .team-list {
        list-style: none;
        padding: 0;
    }
    
    .team-member {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        background-color: variables.$primary-color; // Fondo con el color del sitio
        padding: 20px;
        border-radius: 10px;
    
        img {
            width: 150px;
            height: auto;
            border-radius: 50%;
            margin-right: 20px;
        }
    
        p {
            flex: 1;
            font-size: variables.$font-size-base;
            line-height: variables.$line-height-base;
            margin-bottom: 10px;
        }
    }
    
    .space-details {
        display: flex;
        align-items: center;
    
        img {
            width: 300px;
            height: auto;
            margin-right: 20px;
        }
    
        p {
            flex: 1;
            font-size: variables.$font-size-base;
            line-height: variables.$line-height-base;
            margin-bottom: 10px;
        }
    }

.actividades_body {
    font-family: variables.$font-family-base;
    color: variables.$text-color;
    background-color: variables.$background-color;
}

#header_principal {
    background-color: variables.$primary-color;
    color: variables.$text-color;
    padding: 20px;
    text-align: center;

    img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        margin-bottom: 20px;
    }

    nav {
        ul {
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: center;

            li {
                margin: 0 10px;

                a {
                    text-decoration: none;
                    color: variables.$background-color;
                    padding: 10px 20px;
                    border: 2px solid variables.$secondary-color;
                    border-radius: 5px;
                    background-color: variables.$primary-color;
                    transition: background-color 0.3s, color 0.3s;

                    &:hover {
                        background-color: variables.$tertiary-color;
                        color: variables.$background-color;
                    }
                }
            }
        }
    }
}

.contenido_actividades {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .actividad {
        background-color: variables.$primary-color;
        border-radius: 10px;
        margin: 10px;
        padding: 20px;
        width: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;

        img {
            width: 100%;
            max-width: 300px; // Ajusta este valor según el tamaño deseado
            height: auto;
            object-fit: cover; // Asegura que la imagen mantenga su proporción
            border-radius: 5px;
            margin-bottom: 10px;
        }

        h6 {
            font-size: map.get(variables.$fuenteTitulos, h4);
            margin-bottom: 10px;
        }

        p {
            font-size: variables.$font-size-base;
            line-height: variables.$line-height-base;
            color: variables.$text-color;
        }
    }
}

#footer {
    background-color: variables.$primary-color;
    color: variables.$text-color;
    text-align: center;
    padding: 20px;

    a {
        color: variables.$text-color;
        margin: 0 10px;
        text-decoration: none;

        &:hover {
            color: variables.$secondary-color;
        }
    }

    i {
        margin: 0 5px;
    }
}


body.horarios-aranceles-body {
    background-color: variables.$primary-color; // Ajusta este valor según el color deseado
    color: variables.$text-color; // Ajusta este valor según el color del texto deseado
    font-family: variables.$font-family-base; // Ajusta este valor según la fuente deseada
    margin: 0;
    padding: 0;
    line-height: variables.$line-height-base;
}

i {
    margin: 0 5px;
}

#tabla_horarios, #aranceles {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: variables.$primary-color;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;

    h2 {
        font-size: map.get(variables.$fuenteTitulos, h2);
        margin-bottom: 20px;
        color: variables.$background-color;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;

        th, td {
            padding: 10px;
            border: 1px solid variables.$primary-color;
            font-size: variables.$font-size-base;
            color: variables.$text-color;
        }

        th {
            background-color: variables.$primary-color;
            color: variables.$background-color;
        }

        td {
            background-color: variables.$secondary-color;
        }
    }

    p {
        font-size: variables.$font-size-base;
        color: variables.$text-color;
    }
}

body.retiros-body {
    background-color: variables.$primary-color; // Ajusta este valor según el color deseado
    color: variables.$text-color; // Ajusta este valor según el color del texto deseado
    font-family: variables.$font-family-base; // Ajusta este valor según la fuente deseada
    margin: 0;
    padding: 0;
    line-height: variables.$line-height-base;
}

i {
    margin: 0 5px;
}

.retiros {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: variables.$primary-color;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;

    h2 {
        font-size: map.get(variables.$fuenteTitulos, h2);
        margin-bottom: 20px;
        color: variables.$text-color;
    }

    p {
        font-size: variables.$font-size-base;
        line-height: variables.$line-height-base;
        color: variables.$text-color;
        margin-bottom: 20px;
        text-align: justify;
    }
}




    /* sourceMappingURL=style.css.map */