@use '../variables';


@media (max-width: 320px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center; // Centrar elementos
        padding: 10px;
        font-size: 10px;

        img {
            width: 25px;
            height: 25px;
            margin-bottom: 10px;
        }

        h1 {
            font-size: 10px;
            margin-bottom: 10px;
            text-align: center; // Centrar texto
        }

        nav {
            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0;
                margin: 0;
                list-style: none;

                li {
                    margin: 5px 0;

                    a {
                        padding: 5px 10px;
                        font-size: 0.8rem;
                        display: block;
                        width: 100%;
                        text-align: center;
                        color: variables.$text-color;
                        background-color: variables.$primary-color;
                        border-radius: 5px;
                    }
                }
            }
        }
    }

    main.contenido {
        display: flex;
        flex-direction: column;
        align-items: center; // Centrar elementos
        padding: 10px;

        .actividad {
            width: 100%;
            margin: 10px 0;
            text-align: center; // Centrar texto

            img {
                max-width: 100%;
                height: auto;
                margin-bottom: 10px;
            }

            h6 {
                font-size: 1rem;
                margin-bottom: 10px;
            }

            p {
                font-size: 0.8rem;
                line-height: 1.2;
                color: variables.$text-color;
            }
        }
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center; // Centrar elementos
        padding: 10px;
        text-align: center; // Centrar texto

        .container {
            display: flex;
            flex-direction: column;
            align-items: center; // Centrar elementos
        }

        .row {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center; // Centrar elementos
            margin-bottom: 10px;

            .col-md-4, .col-md-12 {
                width: 100%;
                text-align: center; // Centrar texto
                margin-bottom: 10px;
            }
        }

        a {
            display: block;
            margin: 5px 0;
        }

        i {
            margin: 0 5px;
        }
    }
}